@page {
	margin: 0;
}
body {
	font: 12pt Arial sans-serif;
	line-height: 1.3;
	min-width: 1200px !important;
}
.header-nav,
.heading-box-print,
.profile-box,
.pagination,
.datafilter,
#datatable_length,
#datatable_paginate,
.hint-details,
.btn-row,
.notice,
.breadcrumb,
.overview,
table .dt-edit,
.footer {
	display:none;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
	visibility:hidden;
}
a[href]:after {
    content: none !important;
}
.logo-print {
	display:block;
	position:absolute;
	right:40px;
	top:-50px;
}