<h4>Jugendsozialarbeit an Berliner Schulen</h4>
<p>Die Zielvereinbarung ergänzt den Kooperationsvertrag und wird für jeden Förderzeitraum erneuert. Die jeweils geltende und unterschriebene Vereinbarung wird dem bezirklichen Jugendamt, der regionalen Schulaufsicht bzw. Schulverwaltung sowie der Programmagentur der Stiftung SPI zur Kenntnisnahme in Kopie übermittelt.</p>
<h1>Zielvereinbarung für das Jahr {JAHR}</h1>
<table>
  <tbody>
    <tr>
       <td>
        <b>Projektkennziffer:</b>
      </td>
       <td>
        <span>
          <b>{KENNZIFFER}</b>
        </span>
      </td>
    </tr>
    <tr>
       <td>
        <b>Trägername:</b>
      </td>
       <td>
        <span>
          <b>{TRAEGER}</b>
        </span>
      </td>
    </tr>
    {FOREACH=SCHOOL KEY=SC}
    <tr>
       <td>
        <b>Schulname:</b>
      </td>
       <td>
        <span>
          <b>{SC_SCHOOLNAME} {SC_SCHOOLNUMBER}</b>
        </span>
      </td>
    </tr>
    {FOREACH_END=SCHOOL}
  </tbody>
</table>
<p  >
  <b>Für den kommenden Förderzeitraum werden im Rahmen des Programms "Jugendsozialarbeit an Berliner Schulen" folgende Ziele, Maßnahmen und Indikatoren vereinbart.</b>
</p>

{FOREACH=SCHOOL KEY=SC}
<h3>{SC_SCHOOLNAME} {SC_SCHOOLNUMBER}</h3>
{FOREACH=GOAL KEY=GD}
  <div>
    <div>
      <dl>
        <dt>{GD_NAME}</dt>
        <dd>{GD_DESCRIPTION}</dd>
      </dl>
    </div>
    <h4>Programmschwerpunkte</h4>
    <div>
      <dl>
        <dt><b>als Schwerpunktziel:</b></dt>
        <dd>{GD_SCHWERPUNKTZIEL}</dd>

        <dt><b>als weiteres Ziel:</b></dt>
        <dd>{GD_WEITERESZIEL}</dd>

        <dt>{GD_OTHER}</dt>
      </dl>
    </div>

    <div>
      <dl>
        <dt><b>Umsetzung</b></dt>
        <dd>{GD_UMSETZUNG}</dd>
      </dl>
    </div>
    <div>
      <dl>
        <dt><b>Indikatoren und Zielwerte</b></dt>
        <dd>{GD_INDIKATOREN1}</dd>
        <dd>{GD_INDIKATOREN2}</dd>
        <dd>{GD_INDIKATOREN3}</dd>
        <dd>{GD_INDIKATOREN4}</dd>
        <dd>{GD_INDIKATOREN5}</dd>
      </dl>
    </div>
  </div>
{FOREACH_END=GOAL}
{FOREACH_END=SCHOOL}

<ol>
  <li>
    <ul>
      <li>Um eine bedarfsgerechte Weiterentwicklung des Konzepts unter Beteiligung der Mitwirkenden zu gewährleisten, werden Vertreter/innen des Jugendamtes, der Schulaufsicht sowie der Programmagentur zu dem jährlich durchzuführenden Auswertungsgespräch eingeladen.</li>
    </ul>
  </li>
</ol>
<p style="font-family: Arial, Verdana, sans-serif; font-size: 13.3333px; line-height: normal; margin-top: 50px;">(Bitte handschriftlich ergänzen:)</p>
<table  >
  <tbody>
    <tr>
       <td>Namen der Sozialpädagogen/innen:</td>
       <td>____________________________________________________________________</td>
    </tr>
    <tr>
       <td>Raum der Jugendsozialarbeit:</td>
       <td>____________________________________________________________________</td>
    </tr>
    <tr>
       <td>Name Tandem-Lehrer/in:</td>
       <td>____________________________________________________________________</td>
    </tr>
    <tr>
       <td>Name Tridem-Erzieher/in:</td>
       <td>____________________________________________________________________</td>
    </tr>
  </tbody>
</table>
<table style="margin: 50px 0px 0px; font-family: Arial, Verdana, sans-serif; font-size: 13.3333px; line-height: normal; background-color: rgb(255, 255, 255);">
  <tbody>
    <tr>
       <td>Berlin, den ___________________________________</td>
      <td style="vertical-align: top; text-align: right;">Berlin, den ___________________________________</td>
    </tr>
    <tr>
      <td style="vertical-align: top; padding-top: 50px;">_____________________________________________</td>
      <td style="vertical-align: top; padding-top: 50px; text-align: right;">_____________________________________________</td>
    </tr>
    <tr>
       <td>Unterschrift für die Schule</td>
      <td style="vertical-align: top; text-align: right;">Unterschrift für den freien Träger</td>
    </tr>
  </tbody>
</table>